body { 
    background-color:rgb(0, 0, 0);
    font-family: 'Arial, Trebuchet MS';
}

.header-container{
    color: white;
    position: fixed;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.name-block{
    font-size: 40px;
    width: 60%;
    box-sizing: border-box;
}

.name-block h1{
    text-align: center;
}

.detail-block-l{
    font-size: 15px;
    width: 20%;
    text-align: left;
    box-sizing: border-box;
}

.detail-block-r{
    font-size: 15px;
    width: 20%;
    text-align: right;
    box-sizing: border-box;
}