@import "reset.css";

body{
    color: white;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Noto Sans Mono'
}

h1 {
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
}

h4 {
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
}

.sub-header{
    padding-top: 2px;
    padding-left: 2px;
}

:root {
    --landing-color:rgb(19, 18, 18);
    --travel-color: rgb(240, 56, 56);
    --resume-color:rgb(118, 218, 184);
}
