.blog-img-ls {
    display:block;
    width: 100%;
    height: auto;
  }

.blog-img-p {
  display:block;
  width: 55%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.text-block {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0.25%;
  padding-bottom: 0.25%;
  background: var(--landing-color);
}

.image-txt-container {
  position: relative;
}

.button-img {
  float: right;
  width: 20%;
  height: auto;
  outline: none;
  pointer-events: all;
}

.skip-button-container {
  position: fixed;
  z-index:9999;
  margin: 0;
  width: 100%;
  pointer-events: none;
  opacity: 0;
}

.skip-button-container a:active {
  outline: none;
}

.skip-button-container a:focus {
  outline: none;
}

h4 {
  padding-top: 0;
  padding-bottom: 0.5%;
}   