body{
    color: white;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Noto Sans Mono'
}

.base-bg{
    background: rgb(19, 18, 18);
}

.header{
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 55%;
}

.header p{
    font-size: 40px;
    display: inline;
}

.home-link:hover, .cv-link:hover, .travel-link:hover{
	animation: flicker 0.2s 4 cubic-bezier(0.42, 0, 0.58, 1),
               vibrate 0.2s 4 cubic-bezier(0.2, 1, 0.71, 1); 
}

.cv-link:hover{
    color:rgb(118, 218, 184);
}

.travel-link:hover{
    color:rgb(240, 56, 56);
}

.home-link:hover{
    color:rgb(19, 18, 18);
}

@keyframes flicker {
    10% {
        color:#303030;
    }
    35% {
        color: null;
    }
    50% {
        color:white;
        }
    55% {
        color: null;
    }
    70% {
        color:#303030;
        }
    80% {
        color: white;
    }
    90% {
        color: null;
    }
}

@keyframes vibrate {
    10% {
        transform: translate(0.75%, 0.65%);
    }
    25% {
        transform: translate(-0.25%, -0.75%);
    }
    65% {
        transform: translate(-0.46%, 1.1%);
    }
    90% {
        transform: translate(0.79%, -1%);
    }
    100% {
        transform: translate(-0.83%, 1%);
    }
}

.header a {
    all: unset;
    display: flex;
    cursor: pointer;
}