.link-bar {
    background-color: gray;
    display: inline-block;
    width: 100%;
    height: 25px;
    z-index: 997;
  }

.link-block {
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-right: 1px solid rgb(172, 168, 161);
    display: inline-block;
    font-family:monospace;
    font-size:13px;
}

.link-block a:link{
    color: white;
    text-decoration: none;
}

.link-block a:visited {
    color: white;
    text-decoration: none;
}

.link-block a:active {
    color: blueviolet;
    text-decoration: underline;
}
