@keyframes fadeIn {
    from {
      background: var(--landing-color);
      opacity: 0;
    }
    to {
      background: var(--resume-color);
      opacity: 1;
    }
  }


  @keyframes fadeOut {
    from {
      background: var(--resume-color);
      opacity: var(--bg-opacity);
    }
    to {
      background: var(--landing-color);
      opacity: 0;
    }
  }