.fade-bg{
    animation: fadeOut 2s !important;
    animation-fill-mode: forwards;
}

.base-bg{
    animation: fadeIn 3s;
    animation-fill-mode: forwards;
}

body{
    background: var(--landing-color);
}

.header{
    width: 38%;
}

.container{
    background: var(--cont-color-fade-start);
    margin-top: 1.75%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: auto;
}

.container-anim{
  animation: fadeContIn 2.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.content-anim{
  animation: fadeContentIn 2.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeContIn {
  from {
    background: var(--cont-color-fade-start);
  }
  to {
    background: var(--cont-color-fade-end);
  }
}

@keyframes fadeContentIn {
  from {
    opacity: 0;
  }
  to {
    opacity: var(--end-opacity);
  }
}
