.fade-bg{
    animation: fadeOut 2s !important;
    animation-fill-mode: forwards;
}

.base-bg{
    animation: fadeIn 3s;
    animation-fill-mode: forwards;
}

body{
    background: var(--landing-color);
}

.header{
    width: 38%;
}

.container{
    background: var(--landing-color);
    margin-top: 55px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 100vh;
    opacity: 0;
    position: fixed;

}

.container-anim{
  animation: fadeContIn 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeContIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.4;
    }
  }

.fade-out-cont {
  opacity: 0;
  transition: opacity 3s linear;
}