.fade-bg{
    animation: fadeOut 2s !important;
    animation-fill-mode: forwards;
}

.base-bg{
    animation: fadeIn 3s;
    animation-fill-mode: forwards;
}

body{
    background: var(--landing-color);
}

.header{
    width: 38%;
}

.container{
    background: var(--landing-color);
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: auto;
    opacity: 0;
}

.container-anim{
  animation: fadeContIn 2.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeContIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.4;
    }
  }

.fade-out-cont {
  opacity: 0;
  transition: opacity 3s linear;
}
